<header>
    <h1 class="header-title">
        Photogallery
    </h1>   
    <nav>
        <a href="../index.html" class="button">Home</a>
        <a href="/gallery" class="button">Galleri</a>
        <a href="/contact" class="button">Contact</a>
        <a href="/about" class="button">About</a>
    </nav> 
</header>
