<header>
    {# The title that is displayed top right #}
    <h1 class="header-title">
        Photogallery
    </h1>

    {# The navigation menu #}
    <nav>
        {# Home key #}
        <a href="../index.html" class="button">Home</a>
        {# Gallery key #}
        <a href="/gallery" class="button">Galleri</a>
        {# Contact key #}
        <a href="/contact" class="button">Contact</a>
        {# About key #}
        <a href="/about" class="button">About</a>
    </nav> 
</header>
<div class="header-Shadow">
    
</div>
