header {
    background-color: gray;
    height: 100%;
}
body {
    background-color: gainsboro;
    display: grid;
    grid-template-rows: 8rem;
}
section {
    background-color: gainsboro;
    width: 80%;
    height: 100%;
}