$base-color: gainsboro;
$header-color: gray;
$radius: 0.5rem;
$image-container-width: 40vw;
$image-container-height: 55vh;

header {
    background-color: $header-color;
    height: 100%;
    padding: 0.2rem;
}
body {
    background-color: $base-color;
    display: grid;
    grid-template-rows: 8rem 8rem 100%;
}
section {
    background-color: $base-color;
    width: 60%;
    padding: 1rem;
}
h1 {
    max-height: 2rem;
}
.header-title {
    float: left;
    display: inline;
    box-sizing: border-box;
    font-weight: 400;
    max-height: 2rem;
    margin: 0.5rem;
    margin-top: 0;
}
.button {
    color: black;
    background-color: $base-color;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
    margin: 1rem;
    padding-top: 0.4rem;
    font-size: 2rem;
    width: 20%;
    min-width: 8rem;
    height: 4rem;
    border-radius: $radius;
    transition: 200ms;
}
.image-head {
    width: 100%;
    height: 10%;
    min-height: 2rem;
    padding-left: 0.5rem;
    border-radius: $radius;
    background-color: $header-color;
}
.img-container { //TODO reduce radius? add shadow
    min-width: 15rem;
    min-height: 15rem;
    width: 23%;
    height: 45vh;
    background-color: $header-color;
    margin: 1%;
    margin-bottom: 3rem;
    padding-top: 0.1rem;
    border-radius: $radius;
    box-sizing: border-box;
    float: left;
    transition: 200ms;
}
.image-footer {
    width: 100%;
    height: 10%;
    border-radius: $radius;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background-color: $header-color;
}
.img-click {
    top: 50%;
    left: 50%;
    width: $image-container-width;
    height: $image-container-height;
    background-color: $header-color;
    padding: 1rem;
    border-radius: $radius;
    transition: 200ms;
    position: fixed;
    opacity: 0;
    transform: scale(0);
    margin-left: - calc($image-container-width / 2);
    margin-top: - calc($image-container-height / 2);
}
.background-shade {
    opacity: 0.5;
    background-color: black;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    visibility: hidden;
    transition: 200ms;
}
.display-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    max-height: 90%;
    visibility: visible;
}
img {
    max-height: 80%;
}
.imgDescript {
    max-height: 10%;
}
form {
    width: 22rem;
    align-self: center;
    align-content: center;
    background-color: $header-color;
    padding: 1rem;
    margin-top: 5rem;
    border-radius: $radius;
    transition: 200ms;
}
.form-container {
    top: 50%;
    left: 50%;
    $width: 40vw;
    $height: 55vh;
    width: $width;
    height: $height;
    border-radius: $radius;
    display: flex;
    position: fixed;
    justify-content: center;
    box-sizing: border-box;
    margin-left: - calc($width / 2);
    margin-top: - calc($height / 2);
    transition: 200ms;
}
.fill-form {
    margin: 1.9rem;
}
button {
    margin-top: 0;
    margin-left: 1.9rem;
    margin-bottom: 0.5rem;
}
nav {
    box-sizing: border-box;
    float: right;
    height: 50%;
    width: 70%;
}
@media (max-width: 70rem) {
    .button {
        margin: 0.2rem;
    }
    nav {
        width: 100%;
    }
    header {
        grid-row: 1/3;
    }
    section {
        grid-row: 3/4;
        width: 100%;
    }
    .img-container {
        float: left;
        width: 100%;
        margin: 0;
        margin-bottom: 3rem;
    }
    .img-click {
        margin-left: 0;
        margin-top: 0;
        $width-on-phone: 90vw;
        $height-on-phone: 70vh;
        width: $width-on-phone;
        height: $height-on-phone;
        margin-left: - calc($width-on-phone / 2);
        margin-top: - calc($height-on-phone / 2);
    }
    ul {
        float: left;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    form {
        width: 100%;
        border-radius: 0;
    }
    .form-container {
        top: 0;
        left: 0;
        margin-left: 0;
        margin-top: 0;
        position: relative;
        width: 100%;
    }
}
@media (min-width: 75rem) {
    .button {
        color: black;
    }
    nav {
        width: 70%;
    }
    header {
        height: 100%;
    }
    section {
        grid-row: 2/5;
    }
}