$base-color: gainsboro;
$header-color: gray;
header {
    background-color: $header-color;
    height: 100%;
}
body {
    background-color: $base-color;
    display: grid;
    grid-template-rows: 8rem;
}
section {
    background-color: $base-color;
    width: 60%;
    height: 100%;
}
nav {
    box-sizing: border-box;
    float: right;
    height: 50%;
    width: 70%;
}
h1 {
    float: left;
    display: inline;
    box-sizing: border-box;
    font-weight: 400;
    width: 20%;
}
.button {
    color: black;
    background-color: $base-color;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 1rem;
    padding-top: 0.4rem;
    font-size: 2rem;
    width: 20%;
    min-width: 10rem;
    height: 100%;
    border-radius: 0.5rem;
}