//The two temporary colors used in this demo
//$base-color: gainsboro;
//$header-color: gray;

//New trial colors
$base-color: white;
$header-color: #14213D;
$another-color: #E5E5E5;
$another-color-shadow: #FFFFFF;
$button-color: #FCA311;

//Text colors
$dark-background-text-color: #FCA311;
$light-background-text-color: black;

//Sets the radius of most corners
$radius: 0.5rem;

//This controls the size of the image container
$image-container-width: 40vw;
$image-container-height: 55vh;

header {
    background-color: $header-color;
    //background: linear-gradient(348deg, $base-color 25%, $header-color 81%);
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, $header-color 13%);
    height: 100%;
    padding: 0.2rem;
    color: $dark-background-text-color;
    //box-shadow: var(--shadow-elevation-high);
}
body {
    background-color: $another-color;
    background: linear-gradient(348deg, $another-color-shadow 25%, $another-color 81%);
    display: grid;
    grid-template-rows: 8rem 8rem 100%;
}
section {
    width: 60%;
    padding: 1rem;
}
h1 {
    max-height: 2rem;
}
.header-title {
    float: left;
    display: inline;
    box-sizing: border-box;
    font-weight: 400;
    max-height: 2rem;
    margin: 0.5rem;
    margin-top: 0;
}
.button {
    color: black;
    background-color: $button-color;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
    margin: 1rem;
    padding-top: 0.4rem;
    font-size: 2rem;
    width: 20%;
    min-width: 8rem;
    height: 4rem;
    border-radius: $radius;
    transition: 200ms;
}
//This is the header of the image container where the title goes
.image-head {
    width: 100%;
    height: 10%;
    min-height: 2rem;
    padding-left: 0.5rem;
    border-radius: $radius;
    background-color: $header-color;
}
//This is the container for the image
.img-container {
    color: $dark-background-text-color;
    min-width: 20rem;
    min-height: 20rem;
    width: 23%;
    height: 45vh;
    background-color: $header-color;
    margin: 1%;
    margin-bottom: 5rem;
    padding-top: 0.1rem;
    border-radius: $radius;
    box-sizing: border-box;
    float: left;
    transition: 200ms;
    box-shadow: var(--shadow-elevation-high);
}
//This is the foot under the image
.image-footer {
    width: 100%;
    height: 10%;
    border-radius: $radius;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background-color: $header-color;
    box-shadow: var(--shadow-elevation-high);
}
.img-click {
    top: 50%;
    left: 50%;
    width: $image-container-width;
    height: $image-container-height;
    background-color: $header-color;
    padding: 1rem;
    border-radius: $radius;
    transition: 200ms;
    position: fixed;
    opacity: 0;
    transform: scale(0);
    margin-left: - calc($image-container-width / 2);
    margin-top: - calc($image-container-height / 2);
}
.background-shade {
    opacity: 0.5;
    background-color: black;
    position: fixed;
    width: 150vw;
    height: 150vh;
    top: 0;
    left: 0;
    visibility: hidden;
    transition: 200ms;
}
.display-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    max-height: 90%;
    visibility: visible;
}
img {
    max-height: 80%;
}
.image-title {
    display: inline;
}
.imgDescript {
    max-height: 10%;
}
.close {
    display: inline;
    float: right;
    max-width: 5rem;
    transition: 100ms;
    border-radius: $radius;
}
form {
    color: $dark-background-text-color;
    width: 22rem;
    align-self: center;
    align-content: center;
    background-color: $header-color;
    padding: 1rem;
    margin-top: 5rem;
    border-radius: $radius;
    transition: 200ms;
}
.form-container {
    top: 50%;
    left: 50%;
    $width: 40vw;
    $height: 55vh;
    width: $width;
    height: $height;
    border-radius: $radius;
    display: flex;
    position: fixed;
    justify-content: center;
    box-sizing: border-box;
    margin-left: - calc($width / 2);
    margin-top: - calc($height / 2);
    transition: 200ms;
}
.fill-form {
    margin: 1.9rem;
}
textarea {
    max-width: 100%;
}
button {
    margin-top: 0;
    margin-left: 1.9rem;
    margin-bottom: 0.5rem;
}
nav {
    box-sizing: border-box;
    float: right;
    height: 50%;
    width: 70%;
}
@media (max-width: 70rem) {
    .button {
        margin: 0.2rem;
    }
    nav {
        width: 100%;
    }
    header {
        grid-row: 1/3;
    }
    section {
        grid-row: 3/4;
        width: 100%;
    }
    .img-container {
        float: left;
        width: 100%;
        margin: 0;
        margin-bottom: 5rem;
    }
    .img-click {
        margin-left: 0;
        margin-top: 0;
        $width-on-phone: 90vw;
        $height-on-phone: 70vh;
        width: $width-on-phone;
        height: $height-on-phone;
        margin-left: - calc($width-on-phone / 2);
        margin-top: - calc($height-on-phone / 2);
    }
    ul {
        float: left;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    form {
        width: 100%;
        border-radius: 0;
    }
    .form-container {
        top: 0;
        left: 0;
        margin-left: 0;
        margin-top: 0;
        position: relative;
        width: 100%;
        max-width: 100vw;
    }
}
@media (min-width: 75rem) {
    .button {
        color: black;
    }
    nav {
        width: 70%;
    }
    header {
        height: 100%;
    }
    section {
        grid-row: 2/5;
    }
}
:root {
    --shadow-color: 175deg 100% 1%;
    --shadow-elevation-low:
      -0.6px 0.7px 1px hsl(var(--shadow-color) / 0.34),
      -1px 1.2px 1.8px -1.2px hsl(var(--shadow-color) / 0.34),
      -2.4px 2.8px 4.1px -2.5px hsl(var(--shadow-color) / 0.34);
    --shadow-elevation-medium:
      -0.6px 0.7px 1px hsl(var(--shadow-color) / 0.36),
      -2px 2.3px 3.4px -0.8px hsl(var(--shadow-color) / 0.36),
      -4.9px 5.8px 8.5px -1.7px hsl(var(--shadow-color) / 0.36),
      -12.1px 14.2px 21px -2.5px hsl(var(--shadow-color) / 0.36);
    --shadow-elevation-high:
      -0.6px 0.7px 1px hsl(var(--shadow-color) / 0.34),
      -3.5px 4.2px 6.2px -0.4px hsl(var(--shadow-color) / 0.34),
      -6.6px 7.8px 11.5px -0.7px hsl(var(--shadow-color) / 0.34),
      -10.8px 12.7px 18.8px -1.1px hsl(var(--shadow-color) / 0.34),
      -17.2px 20.3px 29.9px -1.4px hsl(var(--shadow-color) / 0.34),
      -26.9px 31.8px 46.9px -1.8px hsl(var(--shadow-color) / 0.34),
      -40.9px 48.3px 71.2px -2.1px hsl(var(--shadow-color) / 0.34),
      -60.3px 71.2px 105px -2.5px hsl(var(--shadow-color) / 0.34);
  }