---
title: "Photogallery"
layout: "base.njk"
---

<div class="form-container">  
  
  <form  name="contact" action="" method="POST" data-netlify="true">
    <h1>Contact us</h1>
    <div class="fill-form">
      <label  for="yourName">Name</label>
      </br>
      <input name="name" type="text" id="yourName" required="true">
    </div>
    <div class="fill-form">
      <label  for="yourEmail">Email</label>
      </br>
      <input name="email" type="email"  id="yourEmail" required="true">
    </div>
    <div class="fill-form">
      <label  for="message">Message</label>
      </br>
      <textarea name="message" id="message" rows="4" required="true"></textarea>
    </div>
      <button type="submit">Contact</button>
  </form>
</div>