---
title: "Photogallery"
layout: "base.njk"
---

<section>
    <h1>Photogallery</h1>
    <br/>
    <br/>
    <p>Here are my atempts att geting images to display properly.</p>
    <ul>
        {% for photo in collections.photos %}
            <img src="{{ photo.data.image }}" alt="{{ photo.data.imageAlt }}">
            {{ image }}
        {% endfor %}
    </ul>
    <img src="../../images/foiled-again-foil.gif" alt="Cat">
</section>