---
title: "Photogallery"
layout: "base.njk"
---

<section style="width: 100%;">
    <h1>Photogallery</h1>
    <br/>
    <br/>
    <p>Here are my atempts att geting images to display properly.</p>
    <ul>
        {% for photo in collections.photo %}
        <div class="img-container">
            <h1>{{ photo.data.title }}</h1>
            <img src="{{ photo.data.image }}" alt="{{ photo.data.imageAlt }}">
        </div>
        {% endfor %}
    </ul>
</section>